:root {
  --main-back: #26282C;
  --main-orange: #C96A37;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;

  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
  background-color: var(--main-back);
  color: white;
}

/*
.home-page {
}*/

/* All pages exept for home need top margin since nav is position fixed to overlay home page image */
.other-page {
  margin-top: 50px;
}

h1,
p {
  color: white;
}

.button1 {
  background-color: var(--main-orange);
  color: white;
}

.button1:hover {
  color: var(--main-orange);
  background-color: white;
}

.heroHeaderButton {
  width: 150px;
  font-size: 20px;
  font-weight: bold;
}

.greyText {
  color: rgb(230, 230, 230);
}
.orangeText{
  color: var(--main-orange);
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
  text-align: start;
}

.fascinate-regular {
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
}

/******** NAVBAR *********/
/* Nav bar overlay affect, allow image to go under */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.transparent-navbar {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.navbar-brand,
.nav-link,
.navbar-toggler-icon {
  color: #fff !important;
}

.transparent-navbar .navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.active {
  font-weight: bold;
  color: white !important;
  border-bottom: 2px solid white;
}

/******** HOME PAGE *********/
.home-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("/images/peopleWatching.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heroHeaderText {
  font-size: 64px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  line-height: 1;
}

.heroSubHeaderText {
  text-shadow: 2px 2px 4px #000000;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.cardSection {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cardInfo {
  padding: 30px;
  width: 250px;
  background-color: #32353A;
  color: var(--main-orange);
  text-align: center;
  border-radius: 5px;
}

span.cardIcon {
  font-variation-settings: 'OPSZ' 40;
  font-size: 40px;
  color: white;
  margin-bottom: 15px;
}

.cardHeadline {
  font-size: 22px;
  letter-spacing: .07em;
}

.cardText {
  line-height: 1.3;
  font-size: 14px;
}